/*URL*/
//$url: "/img/";
$url: "../img/";
$font_url :"../font/";
/*Hashing*/
$version: "?v=1";

$min: 1240px;
$max: 100%;

$header: 70px;


/*Font 및 Color*/
$family: 'NotoSansKR','Noto Sans KR', "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, "돋음",'AppleGothic', 'Arial', 'Meiryo', 'sans-serif';
$font_def: 16px;
$thin: 100;
$bold: 500;
$white: #ffffff;
$black: #333333;
$gray: #737373;
$border: #EFEFEF;
$border1: #dedede;
$red: #E64141;
$blue: #3B80D3;
$point: #102041; // rgb(16, 33, 65);
