@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Montserrat:wght@100&family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('x-font-awesome.css');

/*!
 * Unicorn Ranch Company Page v1.0.0 (https://www.unicornranch.co.kr/)
 * Copyright 2021 Unicorn Ranch, Inc.
 * Author      : Gibberishor
 * Create Date : 2021.10.01
 */

html, body {
    margin: 0px;
    border: none;
    font-family: 'Noto Sans KR', 'Montserrat', 'Nanum Gothic', sans-serif;
    font-size: 1em;
    color: #191919;
    white-space: nowrap;
    -ms-overflow-style: none;

    /*background-color: #FFF;*/
}

::-webkit-scrollbar { display: none; }

.xl-pointer {
    cursor: pointer;
}

.xl-flex-col {
    display: flex;
    position: relative;
    overflow: hidden;

    flex-direction: column;
}

.xl-flex-row {
    display: flex;
    position: relative;
    overflow: hidden;

    flex-direction: row;
}

.xl-center {
    justify-content: center;
    align-items: center;
}

.xl-left {
    justify-content: flex-start;
    align-items: center;
}

.xl-right {
    justify-content: flex-end;
    align-items: center;
}

.xl-page-bar {
    width: 100%;
    height: 10px;
    background-color: #5c636a;
}

.xl-paragraph-spacing-10 {
    width: 100%;
    height: 10px;
}

.xl-paragraph-spacing-20 {
    width: 100%;
    height: 20px;
}

.xl-title-s1 {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 16px;
    font-weight: 500;
}

.xl-title-s2 {
    width: 100%;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 14px;
    font-weight: 400;
}

.xl-note-1 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 14px;
    font-weight: 300;
    white-space: pre-wrap;
    text-align: justify;
}

.xl-contents {
    display: flex;
    position: relative;
    overflow: hidden;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    background-color: #ffffff;
}

.xl-cbody {
    width: 100%;
    max-width: 500px;
}

.xl-header {
    width: 100%;
    height: 35px;
    border-bottom: #102041 solid 1px;
}

.xl-footer {
    width: 100%;
    height: 30px;
}

.xl-logobg {
    width: 100px;
    height: 100%;
}

.xl-logo {
    width: 80px;
    height: auto !important;
}

.xl-pageno {
    width: calc( 100% - 100px );
    height: 100%;
    font-size: 12px;
    font-weight: 300;
    padding-left: 100px;
}

.xl-st-1 {
    width: 10px;
    height: 100%;
    background-color: #223E6A;
}

.xl-st-2 {
    width: 200px;
    height: 100%;
    padding-left: 4px;
    background-color: #102041;

    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.xl-st-3 {
    width: 15px;
    height: 100%;
    background-color: #ffffff;

    border-bottom: #102041 solid 35px;
    border-left: transparent solid 15px;
}

.xl-st-4 {
    width: calc( 100% - 10px - 200px - 15px );
    height: 100%;

    font-size: 16px;
    font-weight: 500;
}

.xl-graph-title {
    width: 100%;
    height: 30px;
    border-top: #102041 solid 1px;
}

.xl-gt-1 {
    width: 25px;
    height: 100%;
    background-color: #ffffff;

    border-top: #02406A solid 30px;
    border-left: transparent solid 25px;
}

.xl-gt-2 {
    width: 160px;
    height: 100%;
    background-color: #02406A;

    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}

.xl-gt-3 {
    width: 25px;
    height: 100%;
    background-color: #ffffff;

    border-top: #02406A solid 30px;
    border-right: transparent solid 25px;
}

.xl-gt-bottom {
    width: 100%;
    height: 5px;
    border-bottom: #102041 solid 1px;
}

.xl-tab-title {
    width: 100%;
    height: 30px;
    border-bottom: #102041 solid 1px;
}

.xl-tt-1 {
    min-width: 150px;
    height: 100%;
    background-color: #02406A;

    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}

.xl-tt-2 {
    width: 25px;
    height: 100%;
    background-color: #ffffff;

    border-bottom: #02406A solid 30px;
    border-right: transparent solid 25px;
}

.xl-date {
    width: 100%;
    height: 20px;
    padding-right: 10px;

    font-size: 11px;
    font-weight: 300;
}

.xl-3-2-1 {
    width: 100%;
    height: 70px;
    background-color: #F2F2F2;
}

.xl-321-1 {
    width: 100px;
    height: 100%;
}

.xl-321-2 {
    width: calc( 100% - 100px );
    height: 100%;

    padding-left: 10px;
    padding-right: 10px;

    font-size: 11px;
    font-weight: 300;
    white-space: pre-wrap;
    text-align: justify;
}

.xl-stock-table {
    display: flex;
    position: relative;
    overflow-x: scroll;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.xl-st-title {
    display: flex;
    position: relative;
    white-space: nowrap;

    height: 40px;
    background-color: #1A4067;

    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
}

.xl-stt-1 {
    width: 150px;
    height: 100%;
    border-right: #E1E1E1 solid 1px;
}

.xl-stt-2 {
    width: 100px;
    height: 100%;
    border-right: #E1E1E1 solid 1px;
}

.xl-stt-3 {
    width: 100px;
    height: 100%;
}

.xl-st-row {
    display: flex;
    position: relative;
    white-space: nowrap;

    height: 30px;
    background-color: #ffffff;

    font-size: 11px;
    font-weight: 400;
}

.xl-str-g {
    background-color: #F2F2F2;
}

.xl-str-1 {
    width: 150px;
    height: 100%;
    border-right: #E1E1E1 solid 1px;
    border-bottom: #E1E1E1 solid 1px;
}

.xl-str-2 {
    width: 100px;
    height: 100%;
    border-right: #E1E1E1 solid 1px;
    border-bottom: #E1E1E1 solid 1px;
}

.xl-str-3 {
    width: 100px;
    height: 100%;
    border-bottom: #E1E1E1 solid 1px;
}

