<!DOCTYPE html>
<html lang="en" class="p_detail">
<head>
    <meta charset="UTF-8">
    <title>10 bagger</title>
    <link href="/extstatic/css/style_v1.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="inner">
            <div class="p_top"><h1>포괄 손익 계산서</h1></div>
            <section class="content">
                <table class="tbl type2">
                    <colgroup>
                        <col width="407">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>항목</th>
                        <th> 2018/12(연결)</th>
                        <th> 2019/12(연결)</th>
                        <th> 2020/12(연결)</th>
                        <th> 2021/12(연결)</th>
                        <th> 전년동기(%)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>매출액(수익)</th><!----><!----><!---->
                        <td class=""> 1728</td>
                        <td class=""> 1461.7</td>
                        <td class=""> 1410.1</td>
                        <td class=""> 1343.1</td>
                        <td class="txt_red"> -4.75</td>
                    </tr>
                    <tr>
                        <th>매출원가</th><!----><!----><!---->
                        <td class=""> 1453</td>
                        <td class=""> 1208.2</td>
                        <td class=""> 1152.3</td>
                        <td class=""> 1079.9</td>
                        <td class="txt_red"> -6.28</td>
                    </tr>
                    <tr>
                        <th>매출총이익</th><!----><!----><!---->
                        <td class=""> 275</td>
                        <td class=""> 253.4</td>
                        <td class=""> 257.7</td>
                        <td class=""> 263.1</td>
                        <td class=""> 2.09</td>
                    </tr>
                    <tr>
                        <th>판매비와관리비</th><!----><!----><!---->
                        <td class=""> 203</td>
                        <td class=""> 212.6</td>
                        <td class=""> 210.1</td>
                        <td class=""> 170.4</td>
                        <td class="txt_red"> -18.89</td>
                    </tr>
                    <tr>
                        <th>영업이익</th><!----><!----><!---->
                        <td class=""> 72</td>
                        <td class=""> 40.8</td>
                        <td class=""> 47.6</td>
                        <td class=""> 92.7</td>
                        <td class=""> 94.55</td>
                    </tr>
                    <tr>
                        <th>영업이익(발표기준)</th><!----><!----><!---->
                        <td class=""> 72</td>
                        <td class=""> 40.8</td>
                        <td class=""> 47.6</td>
                        <td class=""> 92.7</td>
                        <td class=""> 94.55</td>
                    </tr>
                    <tr>
                        <th>금융수익</th><!----><!----><!---->
                        <td class=""> 1.9</td>
                        <td class=""> 5.2</td>
                        <td class=""> 4.2</td>
                        <td class=""> 8.6</td>
                        <td class=""> 104.4</td>
                    </tr>
                    <tr>
                        <th>금융원가</th><!----><!----><!---->
                        <td class=""> 24.9</td>
                        <td class=""> 27.2</td>
                        <td class=""> 47.6</td>
                        <td class=""> 19.6</td>
                        <td class="txt_red"> -58.69</td>
                    </tr>
                    <tr>
                        <th>기타영업외손익</th><!----><!----><!---->
                        <td class=""> 15</td>
                        <td class="txt_red"> -2.3</td>
                        <td class="txt_red"> -51.1</td>
                        <td class=""> 51</td>
                        <td class=""> 199.83</td>
                    </tr>
                    <tr>
                        <th>종속기업,공동지배기업및관계기업관련손익</th><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                    </tr>
                    <tr>
                        <th>법인세비용차감전계속사업이익</th><!----><!----><!---->
                        <td class=""> 64</td>
                        <td class=""> 16.3</td>
                        <td class="txt_red"> -46.9</td>
                        <td class=""> 132.7</td>
                        <td class=""> 382.92</td>
                    </tr>
                    <tr>
                        <th>법인세비용</th><!----><!----><!---->
                        <td class=""> 7.1</td>
                        <td class=""> 4.7</td>
                        <td class=""> 0.7</td>
                        <td class=""> 9</td>
                        <td class=""> 1063.06</td>
                    </tr>
                    <tr>
                        <th>종속회사매수일전순손익</th><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                    </tr>
                    <tr>
                        <th>처분된종속회사순손익</th><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                    </tr>
                    <tr>
                        <th>계속사업이익</th><!----><!----><!---->
                        <td class=""> 56.9</td>
                        <td class=""> 11.6</td>
                        <td class="txt_red"> -47.6</td>
                        <td class=""> 123.7</td>
                        <td class=""> 359.4</td>
                    </tr>
                    <tr>
                        <th>중단사업이익</th><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                    </tr>
                    <tr>
                        <th>당기순이익</th><!----><!----><!---->
                        <td class=""> 56.9</td>
                        <td class=""> 11.6</td>
                        <td class="txt_red"> -47.6</td>
                        <td class=""> 123.7</td>
                        <td class=""> 359.4</td>
                    </tr>
                    <tr>
                        <th>기타포괄이익</th><!----><!----><!---->
                        <td class="txt_red"> -1.4</td>
                        <td class=""> 0.4</td>
                        <td class=""> 5.2</td>
                        <td class=""> 5.5</td>
                        <td class=""> 6.44</td>
                    </tr>
                    <tr>
                        <th>총포괄이익</th><!----><!----><!---->
                        <td class=""> 55.4</td>
                        <td class=""> 12.1</td>
                        <td class="txt_red"> -42.4</td>
                        <td class=""> 129.2</td>
                        <td class=""> 404.59</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</body>
</html>