<!DOCTYPE html>
<html lang="en" class="p_detail">
<head>
    <meta charset="UTF-8">
    <title>10 bagger</title>
    <link href="/extstatic/css/style_v1.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="inner">
            <div class="p_top"><h1>재무상태표</h1></div>
            <section class="content">
                <table class="tbl type2">
                    <colgroup>
                        <col width="216">
                        <col width="347">
                    </colgroup>
                    <thead>
                    <tr>
                        <th colspan="2">항목</th>
                        <th>2018/12(연결)</th>
                        <th>2019/12(연결)</th>
                        <th>2020/12(연결)</th>
                        <th>2021/12(연결)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th colspan="2">매출</th><!----><!----><!----><!---->
                        <td class=""> 1728</td>
                        <td class=""> 1461.7</td>
                        <td class=""> 1410.1</td>
                        <td class=""> 1343.1</td>
                    </tr>
                    <tr>
                        <th colspan="2">당기순이익</th><!----><!----><!----><!---->
                        <td class=""> 56.9</td>
                        <td class=""> 11.6</td>
                        <td class="txt_red"> -47.6</td>
                        <td class=""> 123.7</td>
                    </tr>
                    <tr>
                        <th colspan="2">자산총계</th><!----><!----><!----><!---->
                        <td class=""> 1545.4</td>
                        <td class=""> 1865.9</td>
                        <td class=""> 1420.3</td>
                        <td class=""> 1418.4</td>
                    </tr>
                    <tr>
                        <th colspan="2">부채총계</th><!----><!----><!----><!---->
                        <td class=""> 1090.8</td>
                        <td class=""> 1414.6</td>
                        <td class=""> 1011.5</td>
                        <td class=""> 880</td>
                    </tr>
                    <tr>
                        <th>안정성</th>
                        <th>부채비율</th><!----><!----><!----><!---->
                        <td class=""> 239.9</td>
                        <td class=""> 313.4</td>
                        <td class=""> 247.4</td>
                        <td class=""> 163.4</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>유동비율</th><!----><!----><!----><!---->
                        <td class=""> 157.3</td>
                        <td class=""> 112</td>
                        <td class=""> 97.8</td>
                        <td class=""> 102</td>
                    </tr>
                    <tr>
                        <th>수익성</th>
                        <th>ROA (총자산 이익율)</th><!----><!----><!----><!---->
                        <td class=""> 3.9</td>
                        <td class=""> 0.6</td>
                        <td class="txt_red"> -2.9</td>
                        <td class=""> 8.7</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>ROE (자기자본 이익율)</th><!----><!----><!----><!---->
                        <td class=""> 4.1</td>
                        <td class=""> 2.7</td>
                        <td class=""> 3.3</td>
                        <td class=""> 6.9</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>영업이익율</th><!----><!----><!----><!---->
                        <td class=""> 12.8</td>
                        <td class=""> 2.5</td>
                        <td class="txt_red"> -11</td>
                        <td class=""> 26.1</td>
                    </tr>
                    <tr>
                        <th>성장성</th>
                        <th>매출액증가율</th><!----><!----><!----><!---->
                        <td class="txt_red"> -5.1</td>
                        <td class="txt_red"> -15.4</td>
                        <td class="txt_red"> -3.5</td>
                        <td class="txt_red"> -4.7</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>자기자본증가율</th><!----><!----><!----><!---->
                        <td class=""> 5.2</td>
                        <td class="txt_red"> -0.7</td>
                        <td class="txt_red"> -9.4</td>
                        <td class=""> 31.6</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</body>
</html>