<!DOCTYPE html>
<html lang="en" class="p_detail">
<head>
    <meta charset="UTF-8">
    <title>10 bagger</title>
    <link href="/extstatic/css/style_v1.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="inner">
            <div class="p_top"><h1>현금흐름표</h1></div>
            <section class="content">
                <table class="tbl type2">
                    <colgroup>
                        <col width="407">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>IFRS (연결)</th>
                        <th> 2018/12(연결)</th>
                        <th> 2019/12(연결)</th>
                        <th> 2020/12(연결)</th>
                        <th> 2021/12(연결)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th><strong>영업활동으로인한현금흐름</strong></th><!----><!----><!---->
                        <th class="center"> 31.8</th>
                        <th class="center txt_red"> -465.2</th>
                        <th class="center"> 610.8</th>
                        <th class="center txt_red"> -81.3</th><!----></tr>
                    <tr>
                        <td class="left pl45"> 당기순이익</td><!----><!----><!---->
                        <td class=""> 56.9</td>
                        <td class=""> 11.6</td>
                        <td class="txt_red"> -47.6</td>
                        <td class=""> 123.7</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 법인세비용차감전계속사업이익</td><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 현금유출이없는비용등가산</td><!----><!----><!---->
                        <td class=""> 108.8</td>
                        <td class=""> 146</td>
                        <td class=""> 186.6</td>
                        <td class=""> 87.2</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 현금유입이없는수익등차감</td><!----><!----><!---->
                        <td class=""> 33.4</td>
                        <td class=""> 14.6</td>
                        <td class=""> 9</td>
                        <td class=""> 79</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 영업활동으로인한자산부채변동(운전자본변동)</td><!----><!----><!---->
                        <td class="txt_red"> -77.4</td>
                        <td class="txt_red"> -582.1</td>
                        <td class=""> 510.4</td>
                        <td class="txt_red"> -195.8</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 이자수입(지급)</td><!----><!----><!---->
                        <td class="txt_red"> -22.2</td>
                        <td class="txt_red"> -22.5</td>
                        <td class="txt_red"> -23.6</td>
                        <td class="txt_red"> -18.1</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 배당금수입(지급)</td><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 법인세환입(납부)</td><!----><!----><!---->
                        <td class="txt_red"> -0.7</td>
                        <td class="txt_red"> -3.4</td>
                        <td class="txt_red"> -5.8</td>
                        <td class=""> 0.6</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 중단사업관련현금흐름</td><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td><!----></tr>
                    <tr>
                        <th><strong>투자활동으로인한현금흐름</strong></th><!----><!----><!---->
                        <th class="center txt_red"> -19.3</th>
                        <th class="center txt_red"> -78</th>
                        <th class="center"> 53.4</th>
                        <th class="center txt_red"> -80.6</th><!----></tr>
                    <tr>
                        <td class="left pl45"> 투자활동현금유입액</td><!----><!----><!---->
                        <td class=""> 119</td>
                        <td class=""> 20</td>
                        <td class=""> 72.4</td>
                        <td class=""> 11.7</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 투자활동현금유출액</td><!----><!----><!---->
                        <td class=""> 138.4</td>
                        <td class=""> 98</td>
                        <td class=""> 19</td>
                        <td class=""> 92.4</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 이자수입(지급)</td><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 배당금수입(지급)</td><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 법인세환입(납부)</td><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 중단사업관련현금흐름</td><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td><!----></tr>
                    <tr>
                        <th><strong>재무활동으로인한현금흐름</strong></th><!----><!----><!---->
                        <th class="center"> 82.1</th>
                        <th class="center"> 423.1</th>
                        <th class="center txt_red"> -442.2</th>
                        <th class="center txt_red"> -67.1</th><!----></tr>
                    <tr>
                        <td class="left pl45"> 재무활동현금유입액</td><!----><!----><!---->
                        <td class=""> 508.5</td>
                        <td class=""> 1001.9</td>
                        <td class=""> 524.9</td>
                        <td class=""> 235</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 재무활동현금유출액</td><!----><!----><!---->
                        <td class=""> 424.7</td>
                        <td class=""> 565.5</td>
                        <td class=""> 967.2</td>
                        <td class=""> 302.1</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 이자수입(지급)</td><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 배당금수입(지급)</td><!----><!----><!---->
                        <td class="txt_red"> -1.6</td>
                        <td class="txt_red"> -13.2</td>
                        <td class=""> -</td>
                        <td class=""> -</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 법인세환입(납부)</td><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td><!----></tr>
                    <tr>
                        <td class="left pl45"> 중단사업관련현금흐름</td><!----><!----><!---->
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td>
                        <td class=""> -</td><!----></tr>
                    <tr>
                        <th><strong>영업투자재무활동기타현금흐름</strong></th><!----><!----><!---->
                        <th class="center"> -</th>
                        <th class="center"> -</th>
                        <th class="center"> -</th>
                        <th class="center"> -</th><!----></tr><!---->
                    <tr>
                        <th><strong>연결범위변동으로인한현금의증가</strong></th><!----><!----><!---->
                        <th class="center"> -</th>
                        <th class="center"> -</th>
                        <th class="center"> -</th>
                        <th class="center"> -</th><!----></tr><!---->
                    <tr>
                        <th><strong>환율변동효과</strong></th><!----><!----><!---->
                        <th class="center txt_red"> -0.4</th>
                        <th class="center txt_red"> -0.2</th>
                        <th class="center txt_red"> -6.9</th>
                        <th class="center"> -</th><!----></tr><!---->
                    <tr>
                        <th><strong>현금및현금성자산의증가</strong></th><!----><!----><!---->
                        <th class="center"> 94.1</th>
                        <th class="center txt_red"> -120.3</th>
                        <th class="center"> 215.1</th>
                        <th class="center txt_red"> -229.1</th><!----></tr><!---->
                    <tr>
                        <th><strong>기초현금및현금성자산</strong></th><!----><!----><!---->
                        <th class="center"> 70.8</th>
                        <th class="center"> 165</th>
                        <th class="center"> 44.6</th>
                        <th class="center"> 259.8</th><!----></tr><!---->
                    <tr>
                        <th><strong>기말현금및현금성자산</strong></th><!----><!----><!---->
                        <th class="center"> 165</th>
                        <th class="center"> 44.6</th>
                        <th class="center"> 259.8</th>
                        <th class="center"> 30.6</th><!----></tr><!----></tbody>
                </table>
            </section>
        </div>
    </div>
</body>
</html>