<!DOCTYPE html>
<html lang="en" class="p_detail">
<head>
    <meta charset="UTF-8">
    <title>10 bagger</title>
    <link href="/extstatic/css/style_v1.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="inner">
            <div class="p_top"><h1>기업 기본 정보 및 개요</h1></div>
            <section class="content">
                <article class="area colb">
                    <div class="mr50"><h2 class="mt0">기업 개요 및 투자 정보</h2>
                        <p class="desc"> 동사는 평판 Display 제조공정용 장비 개발 및 생산을 목적으로 2001년 1월 26일 설립되었음. 동사는 LCD, OLED 등 장비를 개발,
                            제작, 판매 하는 사업을 하고 있으며 종속회사인 아이디파이(북경)과무유한공사는 기계설비 및 설비부품, 수수료 대행하는 사업을 영위. 추후 우수한색 재현성과 넓은 시야각의
                            장점을 보유한 OLED 패널생산을 위한 신규투자를 진행할 예정. </p>
                        <h2>기업 정보</h2>
                        <table class="tbl type_col">
                            <colgroup>
                                <col width="115px">
                                <col width="450px">
                                <col width="115px">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>본사주소</th>
                                <td colspan="3">경기 성남시 중원구 갈마치로 214</td>
                            </tr>
                            <tr>
                                <th>홈페이지</th>
                                <td>www.inveniacorp.com</td>
                                <th>대표전화</th>
                                <td>031-778-1114</td>
                            </tr>
                            <tr>
                                <th>설립일</th>
                                <td>2001-01-26(개업일)</td>
                                <th>시총</th>
                                <td><strong class="txt_red">598</strong>억원(소형)</td>
                            </tr>
                            <tr>
                                <th>발행주식주</th>
                                <td><em class="txt_label">보통</em>23,200,000주 <em class="txt_label blue"></em></td>
                                <th>종업원수</th>
                                <td><strong class="txt_blue">188</strong>명 (2021/06)기준</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
            </section>
        </div>
    </div>
</body>
</html>