<!DOCTYPE html>
<html lang="en" class="p_detail">
<head>
    <meta charset="UTF-8">
    <title>10 bagger</title>
    <link href="/extstatic/css/style_v1.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="inner">
            <div class="p_top"><h1>특허 포트폴리오 현황</h1></div>
            <section class="content">
                <div class="desc"> 인베니아의 기술 부문별 특허 현황으로 보유특허를 대상으로 합니다. 특허권을 획득하거나 특허 권리를 유지하기 위해서는 많은 비용이 소요되기 때문에 기업이 필요한
                    분야에 집중하여 특허를 보유 하게 됩니다. 따라서 기업이 보유하고 있는 특허의 기술 분포를 통해 그 기업이 집중하고 있는 기술 분야와 R&amp;D 집중 분야를 추 측할 수 있습니다
                </div>
                <div class="area col2 mt30">
                    <div class="col mr40">
                        <div class="bx_chart chart_prepare mt0">
                            <div data-highcharts-chart="8" style="overflow: hidden;">
                                <div id="highcharts-k3lwvx1-623" dir="ltr" class="highcharts-container "
                                     style="position: relative; overflow: hidden; width: 400px; height: 213px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); user-select: none; touch-action: manipulation; outline: none;">
                                    <svg version="1.1" class="highcharts-root"
                                         style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;"
                                         xmlns="http://www.w3.org/2000/svg" width="400" height="213" viewBox="0 0 400 213">
                                        <desc>Created with Highcharts 9.3.3</desc>
                                        <defs>
                                            <clipPath id="highcharts-k3lwvx1-624-">
                                                <rect x="0" y="0" width="380" height="188" fill="none"></rect>
                                            </clipPath>
                                        </defs>
                                        <rect fill="rgba(255, 255, 255, 0)" class="highcharts-background" x="0" y="0"
                                              width="400" height="213" rx="0" ry="0"></rect>
                                        <rect fill="none" class="highcharts-plot-background" x="10" y="10" width="380"
                                              height="188"></rect>
                                        <rect fill="none" class="highcharts-plot-border" data-z-index="1" x="10" y="10"
                                              width="380" height="188"></rect>
                                        <g class="highcharts-series-group" data-z-index="3">
                                            <g class="highcharts-series highcharts-series-0 highcharts-pie-series highcharts-tracker"
                                               data-z-index="0.1" opacity="1" transform="translate(10,10) scale(1 1)"
                                               clip-path="none">
                                                <path fill="#7cb5ec"
                                                      d="M 189.9828914508896 10.000001742276524 A 84 84 0 0 1 258.8022782151781 142.18969301003307 L 190 94 A 0 0 0 0 0 190 94 Z"
                                                      transform="translate(0,0)" stroke="#ffffff" stroke-width="1"
                                                      opacity="1" stroke-linejoin="round"
                                                      class="highcharts-point highcharts-color-0"></path>
                                                <path fill="#434348"
                                                      d="M 258.75405412906343 142.2584711819367 A 84 84 0 0 1 112.16764175002331 125.59310065896167 L 190 94 A 0 0 0 0 0 190 94 Z"
                                                      transform="translate(0,0)" stroke="#ffffff" stroke-width="1"
                                                      opacity="1" stroke-linejoin="round"
                                                      class="highcharts-point highcharts-color-1"></path>
                                                <path fill="#90ed7d"
                                                      d="M 112.13608757080574 125.51525251713475 A 84 84 0 0 1 112.77579680067493 60.948185522889204 L 190 94 A 0 0 0 0 0 190 94 Z"
                                                      transform="translate(0,0)" stroke="#ffffff" stroke-width="1"
                                                      opacity="1" stroke-linejoin="round"
                                                      class="highcharts-point highcharts-color-2"></path>
                                                <path fill="#f7a35c"
                                                      d="M 112.80888722174178 60.870977858466446 A 84 84 0 0 1 128.1051732256275 37.21064872204981 L 190 94 A 0 0 0 0 0 190 94 Z"
                                                      transform="translate(0,0)" stroke="#ffffff" stroke-width="1"
                                                      opacity="1" stroke-linejoin="round"
                                                      class="highcharts-point highcharts-color-3"></path>
                                                <path fill="#8085e9"
                                                      d="M 128.16199351485136 37.14878230026453 A 84 84 0 0 1 147.72457959352627 21.41357682420282 L 190 94 A 0 0 0 0 0 190 94 Z"
                                                      transform="translate(0,0)" stroke="#ffffff" stroke-width="1"
                                                      opacity="1" stroke-linejoin="round"
                                                      class="highcharts-point highcharts-color-4"></path>
                                                <path fill="#f15c80"
                                                      d="M 147.7971871423128 21.371337704050802 A 84 84 0 0 1 156.1790211047572 17.109549444891783 L 190 94 A 0 0 0 0 0 190 94 Z"
                                                      transform="translate(0,0)" stroke="#ffffff" stroke-width="1"
                                                      opacity="1" stroke-linejoin="round"
                                                      class="highcharts-point highcharts-color-5"></path>
                                                <path fill="#e4d354"
                                                      d="M 156.2559284529853 17.07576691685543 A 84 84 0 0 1 164.98466212881476 13.811267180541847 L 190 94 A 0 0 0 0 0 190 94 Z"
                                                      transform="translate(0,0)" stroke="#ffffff" stroke-width="1"
                                                      opacity="1" stroke-linejoin="round"
                                                      class="highcharts-point highcharts-color-6"></path>
                                                <path fill="#2b908f"
                                                      d="M 165.06486335593735 13.786291941202947 A 84 84 0 0 1 189.88332568520198 10.00008102918035 L 190 94 A 0 0 0 0 0 190 94 Z"
                                                      transform="translate(0,0)" stroke="#ffffff" stroke-width="1"
                                                      opacity="1" stroke-linejoin="round"
                                                      class="highcharts-point highcharts-color-7"></path>
                                            </g>
                                            <g class="highcharts-markers highcharts-series-0 highcharts-pie-series"
                                               data-z-index="0.1" opacity="1" transform="translate(10,10) scale(1 1)"
                                               clip-path="none"></g>
                                        </g>
                                        <text x="200" text-anchor="middle" class="highcharts-title" data-z-index="4"
                                              style="color:#333333;font-size:18px;fill:#333333;" y="24"></text>
                                        <text x="200" text-anchor="middle" class="highcharts-subtitle" data-z-index="4"
                                              style="color:#666666;fill:#666666;" y="24"></text>
                                        <text x="10" text-anchor="start" class="highcharts-caption" data-z-index="4"
                                              style="color:#666666;fill:#666666;" y="210"></text>
                                        <g class="highcharts-data-labels highcharts-series-0 highcharts-pie-series highcharts-tracker"
                                           data-z-index="6" opacity="1" transform="translate(10,10) scale(1 1)">
                                            <path fill="none" class="highcharts-data-label-connector highcharts-color-0"
                                                  stroke="#7cb5ec" stroke-width="1"
                                                  d="M 268.96744836487807 52.949517679565325 C 263.96744836487807 52.949517679565325 266.3056242626912 54.33324180272604 265.4183495619622 54.79448317711295 L 264.5310748612332 55.25572455149986"></path>
                                            <path fill="none" class="highcharts-data-label-connector highcharts-color-1"
                                                  stroke="#434348" stroke-width="1"
                                                  d="M 179.89720288167447 182.42473347647677 C 184.89720288167447 182.42473347647677 180.23774660476403 179.44412448288767 180.35126117912725 178.4505881516913 L 180.46477575349047 177.45705182049494"></path>
                                            <path fill="none" class="highcharts-data-label-connector highcharts-color-2"
                                                  stroke="#90ed7d" stroke-width="1"
                                                  d="M 101.0049318058931 93.06307037283456 C 106.0049318058931 93.06307037283456 104.00476556524501 93.09465227037947 105.00471015169565 93.1051795695611 L 106.00465473814629 93.11570686874273"></path>
                                            <path fill="none" class="highcharts-data-label-connector highcharts-color-3"
                                                  stroke="#f7a35c" stroke-width="1"
                                                  d="M 115.2931400510224 45.627641399619044 C 120.2931400510224 45.627641399619044 117.81134881334751 47.25817034120492 118.65075173412254 47.80167998840021 L 119.49015465489757 48.3451896355955"></path>
                                            <path fill="none" class="highcharts-data-label-connector highcharts-color-4"
                                                  stroke="#8085e9" stroke-width="1"
                                                  d="M 126.14861003862171 32 C 131.1486100386217 32 136.15228738340835 26.94462105124633 136.77842357662453 27.724334759952768 L 137.40455976984072 28.504048468659207"></path>
                                            <path fill="none" class="highcharts-data-label-connector highcharts-color-5"
                                                  stroke="#f15c80" stroke-width="1"
                                                  d="M 136.33436854000504 23 C 141.33436854000504 23 151.06642166183607 17.317691233335616 151.51913768902403 18.209345986436364 L 151.971853716212 19.101000739537113"></path>
                                            <path fill="none" class="highcharts-data-label-connector highcharts-color-6"
                                                  stroke="#e4d354" stroke-width="1"
                                                  d="M 151 14 C 156 14 159.92133564793048 13.431557351556428 160.27108755900105 14.36839970793368 L 160.62083947007162 15.305242064310931"></path>
                                            <path fill="none" class="highcharts-data-label-connector highcharts-color-7"
                                                  stroke="#2b908f" stroke-width="1"
                                                  d="M 176.65359245388532 5 C 181.65359245388532 5 177.10347135993416 8.972477696713042 177.25343099528376 9.961169816518705 L 177.40339063063337 10.949861936324368"></path>
                                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-0"
                                               data-z-index="1" transform="translate(274,43)">
                                                <text x="0" data-z-index="1" y="9"
                                                      style="color:#000000;font-size:8px;font-weight:900;fill:#000000;">
                                                    <tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF"
                                                           stroke-width="2px" stroke-linejoin="round" style="">
                                                        <tspan style="font-weight:bold;">H01L</tspan>
                                                        , 34.74 %
                                                        <tspan x="0" y="9">​</tspan>
                                                    </tspan>
                                                    <tspan style="font-weight:bold;">H01L</tspan>
                                                    , 34.74 %
                                                </text>
                                            </g>
                                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-1"
                                               data-z-index="1" transform="translate(118,172)">
                                                <text x="0" data-z-index="1" y="9"
                                                      style="color:#000000;font-size:8px;font-weight:900;fill:#000000;">
                                                    <tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF"
                                                           stroke-width="2px" stroke-linejoin="round" style="">
                                                        <tspan style="font-weight:bold;">H01J</tspan>
                                                        , 34.14 %
                                                        <tspan x="0" y="9">​</tspan>
                                                    </tspan>
                                                    <tspan style="font-weight:bold;">H01J</tspan>
                                                    , 34.14 %
                                                </text>
                                            </g>
                                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-2"
                                               data-z-index="1" transform="translate(38,83)">
                                                <text x="0" data-z-index="1" y="9"
                                                      style="color:#000000;font-size:8px;font-weight:900;fill:#000000;">
                                                    <tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF"
                                                           stroke-width="2px" stroke-linejoin="round" style="">
                                                        <tspan style="font-weight:bold;">G02F</tspan>
                                                        , 12.57 %
                                                        <tspan x="0" y="9">​</tspan>
                                                    </tspan>
                                                    <tspan style="font-weight:bold;">G02F</tspan>
                                                    , 12.57 %
                                                </text>
                                            </g>
                                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-3"
                                               data-z-index="1" transform="translate(56,36)">
                                                <text x="0" data-z-index="1" y="9"
                                                      style="color:#000000;font-size:8px;font-weight:900;fill:#000000;">
                                                    <tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF"
                                                           stroke-width="2px" stroke-linejoin="round" style="">
                                                        <tspan style="font-weight:bold;">H05H</tspan>
                                                        , 5.38 %
                                                        <tspan x="0" y="9">​</tspan>
                                                    </tspan>
                                                    <tspan style="font-weight:bold;">H05H</tspan>
                                                    , 5.38 %
                                                </text>
                                            </g>
                                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-4"
                                               data-z-index="1" transform="translate(67,22)">
                                                <text x="0" data-z-index="1" y="9"
                                                      style="color:#000000;font-size:8px;font-weight:900;fill:#000000;">
                                                    <tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF"
                                                           stroke-width="2px" stroke-linejoin="round" style="">
                                                        <tspan style="font-weight:bold;">G01N</tspan>
                                                        , 4.79 %
                                                        <tspan x="0" y="9">​</tspan>
                                                    </tspan>
                                                    <tspan style="font-weight:bold;">G01N</tspan>
                                                    , 4.79 %
                                                </text>
                                            </g>
                                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-5"
                                               data-z-index="1" transform="translate(78,13)">
                                                <text x="0" data-z-index="1" y="9"
                                                      style="color:#000000;font-size:8px;font-weight:900;fill:#000000;">
                                                    <tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF"
                                                           stroke-width="2px" stroke-linejoin="round" style="">
                                                        <tspan style="font-weight:bold;">C23C</tspan>
                                                        , 1.79 %
                                                        <tspan x="0" y="9">​</tspan>
                                                    </tspan>
                                                    <tspan style="font-weight:bold;">C23C</tspan>
                                                    , 1.79 %
                                                </text>
                                            </g>
                                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-6"
                                               data-z-index="1" transform="translate(94,4)">
                                                <text x="0" data-z-index="1" y="9"
                                                      style="color:#000000;font-size:8px;font-weight:900;fill:#000000;">
                                                    <tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF"
                                                           stroke-width="2px" stroke-linejoin="round" style="">
                                                        <tspan style="font-weight:bold;">G06F</tspan>
                                                        , 1.79 %
                                                        <tspan x="0" y="9">​</tspan>
                                                    </tspan>
                                                    <tspan style="font-weight:bold;">G06F</tspan>
                                                    , 1.79 %
                                                </text>
                                            </g>
                                            <g class="highcharts-label highcharts-data-label highcharts-data-label-color-7"
                                               data-z-index="1" transform="translate(124,-5)">
                                                <text x="0" data-z-index="1" y="9"
                                                      style="color:#000000;font-size:8px;font-weight:900;fill:#000000;">
                                                    <tspan class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF"
                                                           stroke-width="2px" stroke-linejoin="round" style="">
                                                        <tspan style="font-weight:bold;">ETC</tspan>
                                                        , 4.79 %
                                                        <tspan x="0" y="9">​</tspan>
                                                    </tspan>
                                                    <tspan style="font-weight:bold;">ETC</tspan>
                                                    , 4.79 %
                                                </text>
                                            </g>
                                        </g>
                                        <g class="highcharts-legend highcharts-no-tooltip" data-z-index="7">
                                            <rect fill="none" class="highcharts-legend-box" rx="0" ry="0" x="0" y="0"
                                                  width="8" height="8" visibility="hidden"></rect>
                                            <g data-z-index="1">
                                                <g></g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <table class="tbl type2">
                            <colgroup>
                                <col>
                                <col width="138">
                                <col width="102">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>[IPC 코드] 기술 부문</th>
                                <th>비율(%)</th>
                                <th>특허수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>[H01L]반도체장치</th>
                                <th>34.73</th>
                                <th>58</th>
                            </tr>
                            <tr>
                                <th>[H01J]전자관</th>
                                <th>34.13</th>
                                <th>57</th>
                            </tr>
                            <tr>
                                <th>[G02F]광변조장치</th>
                                <th>12.57</th>
                                <th>21</th>
                            </tr>
                            <tr>
                                <th>[H05H]플라즈마기술</th>
                                <th>5.38</th>
                                <th>9</th>
                            </tr>
                            <tr>
                                <th>[G01N]재료분석</th>
                                <th>4.79</th>
                                <th>8</th>
                            </tr>
                            <tr>
                                <th>[C23C]도금</th>
                                <th>1.79</th>
                                <th>3</th>
                            </tr>
                            <tr>
                                <th>[G06F]디지털 데이터 처리</th>
                                <th>1.79</th>
                                <th>3</th>
                            </tr>
                            <tr>
                                <th>[ETC]ETC</th>
                                <th>4.79</th>
                                <th>8</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>