<!DOCTYPE html>
<html lang="en" class="p_detail">
<head>
    <meta charset="UTF-8">
    <title>10 bagger</title>
    <link href="/extstatic/css/style_v1.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="inner">
            <div class="p_top"><h1>대표 섹터 정보</h1></div>
            <section class="content"><h2>섹터 정보</h2>
                <table class="tbl type_col">
                    <colgroup>
                        <col width="215px">
                        <col>
                        <col width="215px">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>대표섹터</th>
                        <td>제약바이오</td>
                        <th>인베니아 투자매력도 순위</th>
                        <td><strong class="txt_blue f18">1</strong><span>위 / 1926개 기업 중</span></td>
                    </tr>
                    <tr>
                        <th>섹터평균 기술투자지수</th>
                        <td class="txt_red"><strong class="f18">0</strong> <span>점</span></td>
                        <th>인베니아 기술투자지수</th>
                        <td><strong class="txt_red f18">0.8</strong> <span class="txt_red">점</span><em
                                class="bar">|</em><strong class="txt_blue f18">144</strong><span
                                class="txt_blud">위</span><span> / 144개 기업 중</span></td>
                    </tr>
                    <tr>
                        <th>섹터평균 기술력(TSS) 점수</th>
                        <td class="txt_red"><strong class="f18">0</strong> <span>점</span></td>
                        <th>인베니아 기술력(TSS) 점수</th>
                        <td><strong class="txt_red f18">728.7</strong> <span class="txt_red">점</span><em
                                class="bar">|</em><strong class="txt_blue f18">3</strong><span
                                class="txt_blud">위</span><span> / 144개 기업 중</span></td>
                    </tr>
                    </tbody>
                </table>
                <h2>섹터 개요</h2>
                <div class="desc"></div>
                <h2>섹터 랭킹</h2>
                <table class="tbl">
                    <colgroup>
                        <col width="70">
                        <col>
                        <col id="border_red">
                        <col>
                        <col>
                        <col width="160">
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>순위</th>
                        <th>기업명</th>
                        <th>기술투자 지수
                            <div class="tooltip"><em>?</em><span class="desc"> 기술투자지수란 기업의 시가총액을 TSS 점수(위즈도메인이 개발한 통계기법으로 산출)로 나눈 값입니다. 보유한 기술력대비 주기가 어느정도인지 가늠하는 수치로 동종기술로 분류된 테마내에서 상대비교를 통해 기업이 가치를 평가할 수 있는 보조지표입니다.  기술투자자가 낮을수록 "기술력대비 저평가" 되어있어 기술력관점에서 투자매력도가 높습니다. 즉, 기술투자지수가 낮다면 기업이 보유한 기술력보다 주가가 상대적으로 싸다는 의미인 것입니다. </span>
                            </div>
                            <span class="txt_gray">(시총/TSS)</span></th>
                        <th>기술력점수
                            <div class="tooltip"><em>?</em><span class="desc"> TSS는 기업이 가진 특허의 규모(quantity)와 기술 수준(quality)를 동시에 측정한 기술 경쟁력 지수입니다. 기업이 보유한 전체 특허를 점수화한 것으로 수치가 클 수록 수록 기술 경쟁력이 높음을 의미하며 다른 기업의 수치와 비교하여 상대적으로 평가할 수 있습니다. </span>
                            </div>
                            <span class="txt_gray">(TSS)</span></th>
                        <th>기술경쟁력등급
                            <div class="tooltip"><em>?</em><span class="desc"> TCG는 기업이 취득한 특허들을 평가하여 합산한 점수와 이 점수를 기반으로 한 업계 순위에 근거하여 생성되었습니다. 특허 평가 점수는 ㈜위즈도메인이 개발한 통계기법에 의해 계산된 값입니다. 이 점수는 객관적인 평가기준에 따라 동종 기술분야의 특허들과 상대 비교하여 산출됩니다. </span>
                            </div>
                            <span class="txt_gray">(TCG)</span></th>
                        <th>특허평가평균점수
                            <div class="tooltip"><em>?</em><span class="desc"> APES는 각 기술부문별 특허의 점수를 평균한 것으로, 개별 특허의 평가 점수는 특허 빅데이터 및 ㈜위즈도메인의 특허평가엔진(Patent Evaluation Engine)을 이용하여 산출합니다. 특허 평가 요소는 10여 가지가 있으며 평가 요소 중 하나를 예로 들면 다른 특허들로부터 인용을 많이 당한 특허는 좋은 점수를 받습니다. </span>
                            </div>
                            <span class="txt_gray">(APES)</span></th>
                        <th>특허보유건수<span class="txt_gray">(건)</span></th>
                        <th>시가총액<span class="txt_gray">(억원)</span></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </section>
        </div>
    </div>
</body>
</html>