<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <typeAliases>
  	<typeAlias alias="user" type="com.rpt.admin.domain.User"/>
  	<typeAlias alias="stock" type="com.rpt.admin.domain.Stock"/>
  	<typeAlias alias="trade" type="com.rpt.admin.domain.Trade"/>
  	<typeAlias alias="report" type="com.rpt.admin.domain.Report"/>
  </typeAliases>
</configuration>